.skill-container {
    background-color: #de7278;
    margin: 4rem 0 2rem 0;
    position: sticky;
    top: calc(50% - 10rem);
    bottom: 5rem;
    color: #eff1f3;
    font-size: larger;
    border-radius: 0.75rem;
}
