.timeline {
    border-left: 1px solid #eff1f3;
    position: relative;
    list-style: none;
    border-radius: 0;
    text-align: left;
}

.timeline p {
    font-size: 1.1rem;
}

.timeline .timeline-item {
    position: relative;
    border: none;
    background-color: hsla(0, 0%, 0%, 0%);
    color: #eff1f3;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #eff1f3;
    left: -1.5rem;
    top: 0.8rem;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    content: '';
}
